<div>
  <mat-accordion *ngFor="let itemExpand of Array_DatabaseFilters">
    <mat-expansion-panel hideToggle="true" [expanded]="false"><!-- controle de expansão das abas -->
      <mat-expansion-panel-header (click)="iniciarRotacao(itemExpand)" style="height: 48px;padding-right:  0px;">
        <mat-panel-title class="margintitle">
          <div class="titleExpansion">
            <i class="fa fa-chevron-right {{itemExpand.Seta}}" aria-hidden="true"></i> {{itemExpand.titulo}}
          </div>
        </mat-panel-title>
        <mat-panel-description class="underlinha">
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-toolbar-row>
        <span>
<!--DropDown dos Apps-->
<div class="form-group dropdownArrow newSelect">
    <label for="DropDownApps">Aplicativo</label>
    <select class="form-control" id="DropDownApps">
      <option *ngFor="let item of  Array_DatabaseApps">{{item.viewValue}}</option>
    </select>
  </div>
        </span>
<!--DatePickers-->
        <span class="spanDate" *ngIf="itemExpand.MostrarData">
          <dp-date-picker [(ngModel)]="itemExpand.periodo1" mode="month" theme="dp-material" #dayPicker></dp-date-picker>
          <a sty (click)="open(1)" class="btn btn-link">
            <i class="fa fa-2x fa-calendar"></i>
          </a>

          <dp-date-picker [(ngModel)]="itemExpand.periodo2" mode="month" theme="dp-material" #dayPicker2></dp-date-picker>
          <a sty (click)="open(2)" class="btn btn-link">
            <i class="fa fa-2x fa-calendar"></i>
          </a>
        </span>
        <span style="display:  flex;">
<!--DropDown dos Perfil-->
          <div class="form-group dropdownArrow newSelect" *ngIf="itemExpand.MostrarPerfil">
              <label for="DropDownPerfil">Perfil</label>
              <select class="form-control" id="DropDownPerfil">
                <option *ngFor="let item of  Array_DatabasePerfil">{{item.viewValue}}</option>
              </select>
            </div>


<!--DropDown dos Ações-->
            <div class="form-group dropdownArrow newSelect" *ngIf="itemExpand.MostrarAcao">
                <label for="DropDownPerfil">Ações</label>
                <select class="form-control" id="DropDownPerfil">
                  <option *ngFor="let item of  Array_DatabaseAction">{{item.viewValue}}</option>
                </select>
              </div>
  
  

            
<!--DropDown dos Mes de Referencia-->
          <div class="form-group dropdownArrow newSelect" *ngIf="itemExpand.MostrarAcao">
              <label for="DropDownPerfil">Mes de Referencia</label>
              <select class="form-control" id="DropDownPerfil">
                <option *ngFor="let item of  Array_DatabaseMesRef">{{item.viewValue}}</option>
              </select>
            </div>

      </span>
        <span class="example-spacer"> 
          </span> 

        <div class="form-group" *ngIf="itemExpand.MostrarUsuario">
            <label for="exampleFormControlInput1">Usario</label>
            <input type="text" class="form-control" placeholder="Nome">
          </div>
          <div class="form-group" *ngIf="itemExpand.MostrarResponsavel">
              <label for="exampleFormControlInput1">Responsavel</label>
              <input type="text" class="form-control" placeholder="Nome">
            </div>
        <div style="text-align:end;width:50%;">         
 
          <button mat-raised-button class="relatoriobotao" (click)="Ativar(itemExpand)">Gerar Relatório</button>
        </div>
      </mat-toolbar-row>

      

    </mat-expansion-panel>
  </mat-accordion>
</div>
<!-- 


  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>


<button mat-raised-button (click)="picker.open()">Open</button>-->