<div>
  <mat-accordion  *ngFor="let itemExpand of AWS_DatabaseDatePicker" >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title (click)="iniciarRotacao()">
          <div>
              <i class="fa fa-chevron-right {{iconchange}}" aria-hidden="true"></i> {{itemExpand.titulo}}
          </div>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-toolbar-row>
        <span>
          <mat-form-field>
            <mat-select placeholder="Aplicativo" name="Aplicativo">
              <mat-option *ngFor="let item of AWS_DatabaseDropdown" [value]="item.value">
                {{ item.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
        <span class="spanDate">
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" [(ngModel)]="itemExpand.periodo1" placeholder="Choose a date">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <a sty (click)="picker.open()" class="btn btn-link">
            <i class="fa fa-2x fa-calendar"></i>
          </a>


          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker2" [(ngModel)]="itemExpand.periodo2" placeholder="Choose a date">
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <a sty (click)="picker2.open()" class="btn btn-link">
            <i class="fa fa-2x fa-calendar"></i>
          </a>
        </span>
        <span class="example-spacer"></span>
        <div style="text-align:  end;">
          <button mat-raised-button class="relatoriobotao" (click)="Ativar(itemExpand)">Gerar Relatório</button>
        </div>

      </mat-toolbar-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<!-- 


  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>


<button mat-raised-button (click)="picker.open()">Open</button>-->