.Centro {
    text-align: center;
    margin-top: 5%;
    //margin-bottom: 30%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
  }

  .container {
    // display: flex;
    justify-content: center;
    //align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
  
    //background:#d3e5f3
  }