
//background-image: url('http://mundialnegocios.com.br/upload/galeria/grd/97_79104313.jpg');
//background-color: red;
$Azul:#1879bf;
.Centro {
  //text-align: center;
  margin-top: 5%;
  margin-bottom: 30%;
  display: flex;
  justify-content: center;
}

.borda {
  //border-radius: 50px;
  border-style: solid;
};

h2 {
  font-family: "Book Antiqua";
  font-style: italic;
  color: $Azul
}
.Headerh2{
  background-color: red
}

.fundo {
  // background:#d3e5f3;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #d3e5f3;
  height: 100%;
  width: 100%;
  //margin-bottom: 50%;
}
.inputLogin{
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
}


.flex-container {
  display: flex;
  background-color: white;
  width: 30%;
  justify-content: center;
  
}
.flex-container>div {
  //background-color: #f1f1f1;
  margin: 10px;
  padding:20px;
  font-size: 30px;
  flex-grow: 0
}

.labelLogin{
  font-weight: bold
}

.btn-primary{
  background-color: red
}
.btn-primary:hover{
  background-color: rgb(4,162,255), hexa #04a2ff até rgb(0,148,236), hexa #0094ec
}