<!-- <mat-toolbar class="fundo">
    <mat-toolbar-row>
      <div class="col-4">
        <div style="padding-left:5%;">
          <img src="./assets/icones/Logo_Ipiranga.png" alt="" style="height:40px;">
        </div>
      </div>
      <div class="col-4">
        <div style="padding-left:5%;">
          <img src="./assets/icones/Logo_Ipiranga.png" alt="" style="height:40px;">
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
 -->
<mat-toolbar class="fundo">
  <mat-toolbar-row>
    <div style="padding-left:0%;">
      <img src="./assets/icones/Logo_Ipiranga.png" alt="" style="height:40px;">
      <img src="./assets/icones/logo-ultra.png" alt="" style="height:40px;">
    </div>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>