.fundo {
  //background-color: #f6d43c;
  height: 50px;
  box-shadow: 0 7px 6px 0 #313131;
}

.imageIpiranga {
  height: 8.2vh;
  margin-top: 2.1vh;
}

.titleHeader {
  position: absolute;
  left: 9.6vh;
  top: 3.2vh;

  h1 {
    //font: 1.2em "Open Sans",arial,helvetica,sans-serif;
    color: #007bc4;
    font-weight: 600;
    letter-spacing: 0.03em;
    font-family: 'Ubuntu', sans-serif;
    text-rendering: geometricPrecision;
    line-height: 1em;
    word-wrap: normal !important;
  };

  p {
    font-size: 13px;
  }
}
.container{
  position: absolute;
}
.titulo{
text-align: center;
flex-grow: 1;
color: #333;
font-family: Ubuntu,arial,helvetica,sans-serif;
font-size: 1em;
line-height: 1.2em;
padding: 1em;
text-transform: capitalize;
text-align: center;
display: table-cell;
vertical-align: middle

}