.fundo {
  //background-color: #f6d43c;
  box-shadow: 0 0.1px 1px 1px #727171;
}
.mat-toolbar-row, .mat-toolbar-single-row{
  height: auto !important;
}
.titleHeader {
  img{
    float: left;
    margin-top: 6px;
    margin-bottom: -20px;
  }
  .txt{
    padding: 10px 0 0 0;
    margin: 0 0 0 10px !important;
    float: left;
    div{
      height: 22px;
    }
      .title{
        margin: 0 !important;
        color: #007bc4;
        font-weight: 600;
        font-family: 'Ubuntu', sans-serif;
      }
      .subtitle{
        margin: 0 !important;
        font-size: 13px;
        
      }
    }
}

.titulo{
  color: #333;
  text-align: center;
  padding: 0.5%;
   
}

@media(max-width:768px){
  .titulo{
    margin-top: 20px; 
  }
}