.fundo {
  //background-color: #f6d43c;
  height: 50px;
  box-shadow: 0 7px 6px 0 #313131;
}

.imageIpiranga {
  height: 7.2vh;
  margin-top: 2.2vh;
}

.titleHeader {
  position: absolute;
  left: 10vh;
  top: 0;

  h3 {
    color: blue;
  };

  p {

    font-size: 1em;
  }
}
