.demo-tab-group {
  .mat-tabs-labels {
    justify-content: center;
  }
}
.demo-tab-content {
  padding: 16px;
}
::ng-deep .mat-tab-labels {
  justify-content: center; /* align items in Main Axis */
}

::ng-deep .mat-tab-label{
  width: 80%;
  border-style: none;
  font-family: 'Ubuntu', serif;
  font-weight: bold;
  font-size: 20px;
  background: #06c;
  color: white;
}

::ng-deep .mat-tab-label.mat-tab-label-active{
  width: 80%;
  border-style: none;
  color: #06c;
  background: white;
  font-family: 'Ubuntu', serif;
  font-weight: bold;
  font-size: 20px;
}
