.demo-tab-group {
    border: 1px solid #e8e8e8;
    .mat-tabs-labels{
      justify-content: center
    }
  }
  
  .demo-tab-content {
    padding: 16px;
  }
  ::ng-deep .mat-tab-labels{
    justify-content: center; /* align items in Main Axis */
}
::ng-deep .mat-tab-label{
  width: 100%;
  border-style: solid;
}