.demo-tab-content {
  padding: 16px;
}

.demo-tab-group {
  background: white;
  border-radius: 10px 10px 10px 10px;
}

::ng-deep .mat-tab-labels {
  justify-content: center; /* align items in Main Axis */
}

::ng-deep .mat-tab-label{
  width: 80%;
  border-style: none;
  font-family: 'Ubuntu', serif;
  font-weight: bold;
  font-size: 20px;
  background: #1379C3;
  color: white;
  border-radius: 10px 10px 0px 0px;
}//aba quando ela esta desativada

::ng-deep .mat-ink-bar {
  background: transparent !important
}

::ng-deep .mat-tab-group.mat-primary .mat-tab-label:focus, .mat-tab-group.mat-primary .mat-tab-link:focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:focus{
  background: transparent !important
}
::ng-deep .mat-ripple-element {
  display: none !important;
  padding: 20px !important;
}

// #tabFR{
//   border: 1px solid gray;
// }

// #tabHR{
//   border: 1px solid gray;
// }
