<mat-accordion *ngFor="let itemExpand of AWS_DatabaseDatePicker">
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            {{itemExpand.titulo}}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-toolbar-row>
        <span>
          <mat-form-field>
            <mat-select placeholder="Relatórios">
              <mat-option *ngFor="let item of relatorioService" [value]="item">
                {{item.application}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </mat-toolbar-row>

    </mat-expansion-panel>
  </mat-accordion>
