<div *ngFor="let Omega of relatorioService">
  <ul *ngFor="let itemExpand of AWS_DatabaseDatePicker" (click)="iniciarRotacao(itemExpand, Omega)">
    <li>{{itemExpand.titulo}}
      <ul>
        <li *ngFor="let ano of AWS_Relatorio.anos">

          <ul>
            <li *ngFor="let mes of AWS_Relatorio.meses">

              <div>{{ano.year}}- {{mes.month}}
                <ul>
                  <li *ngFor="let arquivo of AWS_Relatorio.arquivos" (click)="iniciarRotacao(omega)">
                    {{arquivo.file.name }} ---- GERADO: {{arquivo.file.lastModified | date:'dd-MM-yyy - HH:mm'}}
                  </li>
                </ul>
              </div>

            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
