

.Centro{
    text-align: center;
}

.borda{
    border-radius: 50px;
    border-style: solid
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
}
.background{
    background-image: url('http://mundialnegocios.com.br/upload/galeria/grd/97_79104313.jpg')
}