<div class="fundo">
  <app-header></app-header>
  <div>
    <br>
    <div class="Centro">
      <div class="card" style="width: 20%;">
        <div class="card-header Headerlogin">
          <span>Entre com o seu usuario e senha</span>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-3 col-form-label labelLogin" style="padding-right: 0px;">Usuário</label>
            <div class="col-9" style="padding-left: 0px;">
              <input type="text" [(ngModel)]="credencials.usuario" class="form-control" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label labelLogin" style="padding-right: 0px;">Senha</label>
            <div class="col-9" style="padding-left: 0px;">
              <input type="password" [(ngModel)]="credencials.senha" class="form-control">
            </div>
          </div>
          <div class="text-center">
            <button (click)="Login()" class="btn btn-primary" >Autenticar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
